nbproject/
build/
target/
.svn/
.hg/
/alternativmud-server/data/
tags/
trunk/
wiki/
alternativmud-server/latest-alternativmud-server.jar
alternativmud-gclient/latest-alternativmud-gclient.jar
*.swp
*~
